.pagination-cont {
	width: 100%;
	margin-top: 16px;
}

.pagination {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.page-item {
	margin-bottom: 8px;
}

.page-item button {
	color: #D2D5DA;
	background-color: #394150;
	padding: 6px 12px;
	border-radius: 4px;
	text-decoration: none;
}

.page-item button:hover {
	color: #969aa2;
}

.active {
	border: 1px #4E80EE solid;
	border-radius: 4px;
}