.pagination-cont {
	width: 100%;
	margin-top: 24px;
}

.pagination {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.page-item {
	margin-bottom: 8px;
}

.page-btn {
	color: #D2D5DA;
	background-color: transparent;
	padding: 8px 16px;
	border: 1px #394150 solid;
	border-radius: 4px;
	text-decoration: none;
}

.page-btn-prev,
.page-btn-next {
	background-color: #FEBD2E;
}

.page-btn-next img {
	transform: rotate(180deg);
}

.active,
.page-btn:hover {
	color: #0E1325;
	background-color: #FEBD2E;
	transition: 0.2s;
}

@media (max-width: 450px) {
	.page-btn {
		padding: 5px 12px;
	}
}