.recipe-cont {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.recipe-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
}

.recipe-item {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	background-color: #394150;
	padding: 8px 8px 0 8px;
	border-radius: 12px;
}

.recipe-img {
	max-height: 220px;
	border-radius: 12px;
	object-fit: cover;
}

.recipe-title {
	padding: 12px 4px;
}

.not-found-meals {
	width: 100%;
	font-size: 1.5rem;
}

@media (max-width: 1024px) {
	.recipe-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 840px) {
	.recipe-cont {
		width: 100%;
	}
}


@media (max-width: 640px) {
	.recipe-list {
		grid-template-columns: repeat(1, 1fr);
	}
}